/*Ancient font by Jorge Paulino from www.dafont.com/ancient.font*/
@font-face {
    font-family: 'ancientmedium';
    src: url('https://cdn.glitch.com/15add5f9-6a19-4db6-946b-01d6f3b4d1fe%2Fancient_medium-webfont.woff2?v=1586401247242') format('woff2'),
         url('https://cdn.glitch.com/15add5f9-6a19-4db6-946b-01d6f3b4d1fe%2Fancient_medium-webfont.woff?v=1586401245172') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background-color: #121212;
  color: #FFFF;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3{
  font-weight: lighter;
}

input {
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  width: 400px;
  font-size: 20px;
}

input, button {
  border: none;
    border-radius: 8px;
  margin: 10px;
}

button {
  background-color: #BB86FC;
  color: #FFFF;
  font-size: 16px;
  padding: 14px;
  width: 120px;
}

button:hover {
  background-color: #FFFF;
  color: #121212;
  transition: 0.4s;
}

a {
  color: #FFFF;
  text-decoration: none;
}

/*header*/
#header {
  background-color: #121212;
  font-size: 40px;
  text-align: left;
  padding: 40px 40px 0px 40px;
}

#title {
  color: #BB86FC;
  font-family: 'ancientmedium';
}

#mini-desc {
  font-size: 16px;
  padding: 20px;
  padding-left: 0px;
}

/*main div*/
#main-container {
  min-height: 50%;
  overflow: auto;
  padding-top: 10px;
  padding-bottom: 100px;
  background: url("https://cdn.glitch.com/15add5f9-6a19-4db6-946b-01d6f3b4d1fe%2F%E2%80%94Pngtree%E2%80%94abstract%20purple%20wavy%20shapes%20transparent_3556920.png?v=1586451200419");
  background-repeat: no-repeat;
  background-size: 1800px;
}

#searchTitle {
  text-align: center;
  font-size: 28px;
  padding-top: 40px;
  margin-bottom: 60px;
}

/*input container*/
.input-container {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

/*results*/
.results {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: space-evenly;
  margin: 20px 20px 60px 20px;
}

#moviePoster{width: 300px}

.general-info {width: 50%}

#overviewHeader {padding: 10px 0px 10px 0px;}

#reviewHeader {padding: 40px 0px 10px 0px;}

.review {
  padding: 0px 0px 10px 0px;
}

.column {align-items: column;}

.movie-row {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.movie {
  padding: 0;
  width: 200px;  
}

/*footer*/
#footer {
  position: relative;
  height: 100px;
  margin-top: -100px;
  clear: both;
  display: flex;
  text-align: left;
  padding: 40px 30px 30px 40px;
  align-items: center;
  background-color:  #0d0d0d;
  font-size: 14px;
}


